.container {
  margin: auto;
  max-height: 100vh;
  height: 100vh;
}

.full {
  width: 100%;
}

.download {
  display: flex;
  justify-content: flex-end;
}

.title {
  text-align: center;
}

.text_white {
  color: white;
}

.timesheet_container {
  height: "100vh";
  overflow-y: "scroll";
  padding-inline: "1em";
  padding-block: "1em";
}
